VITE_REACT_APP_SUPABASE_URL=https://ctomqrdyoiujkiqgmsta.supabase.co
VITE_REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0b21xcmR5b2l1amtpcWdtc3RhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxMTAzNzcsImV4cCI6MjA2MTY4NjM3N30.WbhaCTdoZlWUcMyx9_gZVTG-bc6viqjqBXdYjvLLNtI